* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

header h1 {
  margin-top: 10px;
  font-family: "Merriweather", "serif";
  font-weight: 500;
  font-size: 40px;
}

header p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Merriweather", "serif";
  font-weight: 500;
  font-size: 15px;
}

main {
  text-align: center;
}

main h2 {
  margin-top: 20px;
  font-family: "Merriweather", 'serif';
  font-weight: 500;
  font-size: x-large;
} 

main p {
  margin-top: 10px;
  font-family: "Merriweather", 'serif';
  font-weight: 500;
  font-size: small;
}

main li {
  font-family: "Roboto", 'sans-serif';
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
  display: inline-block;
  border: 2px solid #0391f0;
  border-radius: 30px;
  padding: 10px;
  margin-right: 10px;
  background-color: #0391f0;
  color: #ffffff;
  width: 120px;
  margin-top: 2rem;
  cursor: pointer;
}

.inscreva-se-1 {
  font-family: "Roboto", 'sans-serif';
  font-weight: 700;
  font-size: 15px;
  background-color: black;
  border: 2px solid black;
  margin-top: 25px;
  width: fit-content;
  cursor: pointer;
}

.inscreva-se-2 {
  font-family: "Roboto", 'sans-serif';
  font-weight: 700;
  font-size: 15px;
  background-color: black;
  border: 2px solid black;
  margin-top: 25px;
  width: 110px;
}

.ver-mais {
  font-family: "Roboto", 'sans-serif';
  font-weight: 700;
  font-size: 15px;
  background-color: black;
  border: 2px solid black;
  margin-top: 20px;
  width: 100px;
  cursor: pointer;
}

.explore-nosso-catalogo {
  margin-top: 60px;
  cursor: pointer;
}

.comece-sua-aventura {
  margin-top: 70px;
  cursor: pointer;
}

footer {
  margin-top: 100px;
  background-color: #1c1a1d;
  text-align: center;
  color: white;
  display: block;
  padding: 30px;
}

